In [2]:
import fastf1
import pandas as pd

# Enable cache to speed up subsequent data loading
fastf1.Cache.enable_cache('./cache')

# Load session data (Example: 2024 Bahrain GP - Race)
session = fastf1.get_session(2024, 'Bahrain', 'R')
session.load()

# Extract lap data into a DataFrame
laps_df = session.laps

# Save lap data to CSV
laps_df.to_csv('2024_bahrain_race_laps.csv', index=False)

core           INFO 	Loading data for Bahrain Grand Prix - Race [v3.5.0]
req            INFO 	No cached data found for session_info. Loading data...
_api           INFO 	Fetching session info data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for driver_info. Loading data...
_api           INFO 	Fetching driver list...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for session_status_data. Loading data...
_api           INFO 	Fetching session status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for lap_count. Loading data...
_api           INFO 	Fetching lap count data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for track_status_data. Loading data...
_api           INFO 	Fetching track status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for _extended_timing_data. Loading data...
_api           INFO 	Fetching timing data...
_api           INFO 	Parsing timing data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_app_data. Loading data...
_api           INFO 	Fetching timing app data...
req            INFO 	Data has been written to cache!
core           INFO 	Processing timing data...
req            INFO 	No cached data found for car_data. Loading data...
_api           INFO 	Fetching car data...
_api           INFO 	Parsing car data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for position_data. Loading data...
_api           INFO 	Fetching position data...
_api           INFO 	Parsing position data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for weather_data. Loading data...
_api           INFO 	Fetching weather data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for race_control_messages. Loading data...
_api           INFO 	Fetching race control messages...
req            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 20 drivers: ['1', '11', '55', '16', '63', '4', '44', '81', '14', '18', '24', '20', '3', '22', '23', '27', '31', '10', '77', '2']

In [3]:
df = pd.read_csv("2024_bahrain_race_laps.csv")

In [4]:
df

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 01:01:37.489000,VER,1,0 days 00:01:37.284000,1.0,1.0,NaN,NaN,NaN,0 days 00:00:41.266000,...,False,Red Bull Racing,0 days 00:59:59.911000,2024-03-02 15:03:42.342,12,1.0,False,NaN,False,False
1,0 days 01:03:13.785000,VER,1,0 days 00:01:36.296000,2.0,1.0,NaN,NaN,0 days 00:00:30.916000,0 days 00:00:41.661000,...,False,Red Bull Racing,0 days 01:01:37.489000,2024-03-02 15:05:19.920,1,1.0,False,NaN,False,True
2,0 days 01:04:50.538000,VER,1,0 days 00:01:36.753000,3.0,1.0,NaN,NaN,0 days 00:00:30.999000,0 days 00:00:41.966000,...,False,Red Bull Racing,0 days 01:03:13.785000,2024-03-02 15:06:56.216,1,1.0,False,NaN,False,True
3,0 days 01:06:27.185000,VER,1,0 days 00:01:36.647000,4.0,1.0,NaN,NaN,0 days 00:00:30.931000,0 days 00:00:41.892000,...,False,Red Bull Racing,0 days 01:04:50.538000,2024-03-02 15:08:32.969,1,1.0,False,NaN,False,True
4,0 days 01:08:04.358000,VER,1,0 days 00:01:37.173000,5.0,1.0,NaN,NaN,0 days 00:00:31.255000,0 days 00:00:42.056000,...,False,Red Bull Racing,0 days 01:06:27.185000,2024-03-02 15:10:09.616,1,1.0,False,NaN,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1124,0 days 02:25:37.835000,SAR,2,0 days 00:01:35.972000,51.0,4.0,NaN,NaN,0 days 00:00:30.781000,0 days 00:00:41.539000,...,True,Williams,0 days 02:24:01.863000,2024-03-02 16:27:44.294,1,20.0,False,NaN,False,True
1125,0 days 02:27:13.822000,SAR,2,0 days 00:01:35.987000,52.0,4.0,NaN,NaN,0 days 00:00:30.775000,0 days 00:00:41.440000,...,True,Williams,0 days 02:25:37.835000,2024-03-02 16:29:20.266,1,20.0,False,NaN,False,True
1126,0 days 02:28:49.910000,SAR,2,0 days 00:01:36.088000,53.0,4.0,NaN,NaN,0 days 00:00:30.798000,0 days 00:00:41.610000,...,True,Williams,0 days 02:27:13.822000,2024-03-02 16:30:56.253,1,20.0,False,NaN,False,True
1127,0 days 02:30:29.524000,SAR,2,0 days 00:01:39.614000,54.0,4.0,NaN,NaN,0 days 00:00:32.179000,0 days 00:00:43.748000,...,True,Williams,0 days 02:28:49.910000,2024-03-02 16:32:32.341,1,20.0,False,NaN,False,True
1128,0 days 02:32:05.733000,SAR,2,0 days 00:01:36.209000,55.0,4.0,NaN,NaN,0 days 00:00:30.671000,0 days 00:00:41.782000,...,True,Williams,0 days 02:30:29.524000,2024-03-02 16:34:11.955,1,20.0,False,NaN,False,True

In [5]:
df.shape

(1129, 31)

In [6]:
df.describe()

,DriverNumber,LapNumber,Stint,SpeedI1,SpeedI2,SpeedFL,SpeedST,TyreLife,TrackStatus,Position
count,1129.000000,1129.000000,1129.000000,829.00000,1129.000000,1086.000000,959.000000,1129.000000,1129.000000,1129.000000
mean,27.352524,28.728078,2.260407,232.55006,254.411869,280.732044,296.690302,10.705934,1.425155,10.447298
std,23.722384,16.305688,0.825910,4.20564,7.563647,3.479105,20.777704,6.277025,2.195241,5.764214
min,1.000000,1.000000,1.000000,185.00000,195.000000,244.000000,186.000000,1.000000,1.000000,1.000000
25%,11.000000,15.000000,2.000000,231.00000,250.000000,279.000000,295.000000,6.000000,1.000000,5.000000
50%,20.000000,29.000000,2.000000,233.00000,255.000000,281.000000,300.000000,10.000000,1.000000,10.000000
75%,44.000000,43.000000,3.000000,235.00000,260.000000,282.000000,303.000000,15.000000,1.000000,15.000000
max,81.000000,57.000000,4.000000,241.00000,272.000000,293.000000,332.000000,30.000000,21.000000,20.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129 entries, 0 to 1128
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Time                1129 non-null   object
 1   Driver              1129 non-null   object
 2   DriverNumber        1129 non-null   int64
 3   LapTime             1127 non-null   object
 4   LapNumber           1129 non-null   float64
 5   Stint               1129 non-null   float64
 6   PitOutTime          43 non-null     object
 7   PitInTime           43 non-null     object
 8   Sector1Time         1108 non-null   object
 9   Sector2Time         1129 non-null   object
 10  Sector3Time         1129 non-null   object
 11  Sector1SessionTime  1107 non-null   object
 12  Sector2SessionTime  1129 non-null   object
 13  Sector3SessionTime  1129 non-null   object
 14  SpeedI1             829 non-null    float64
 15  SpeedI2             1129 non-null   float64
 16  SpeedFL             1086 non-null   float64
 17  SpeedST             959 non-null    float64
 18  IsPersonalBest      1129 non-null   bool
 19  Compound            1129 non-null   object
 20  TyreLife            1129 non-null   float64
 21  FreshTyre           1129 non-null   bool
 22  Team                1129 non-null   object
 23  LapStartTime        1129 non-null   object
 24  LapStartDate        1129 non-null   object
 25  TrackStatus         1129 non-null   int64
 26  Position            1129 non-null   float64
 27  Deleted             1129 non-null   bool
 28  DeletedReason       20 non-null     object
 29  FastF1Generated     1129 non-null   bool
 30  IsAccurate          1129 non-null   bool
dtypes: bool(5), float64(8), int64(2), object(16)
memory usage: 235.0+ KB